<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF=8">
    <title>Formatted Code</title>
    <link rel="stylesheet" type="text/css" href="layout.css">
</head>
<!--<body class="custom-body">-->
<body class="bg-info-subtle text-info-emphasis text-center">
    <main layout:fragment="content">
        <div th:if="${formatted}">
            <span class="badge rounded-pill text-bg-success">Success</span>
            <h1>Stored Code After Formatting:</h1>
            <h2 th:text="|ID: ${formatted.id}|"></h2>
            <div class="code">
            <pre class="p-3 mb-2 bg-light text-dark" th:utext="${formatted}"></pre>
            </div>
            <a class="btn btn-primary" href="/codeFormatter/" role="button">Go Back</a>
        </div>
        <div th:unless="${formatted}">
        <span class="badge rounded-pill text-bg-warning">Warning</span>
        <h1>There is no existing code mapped to the given ID</h1>
            <br>
        <a class="btn btn-primary" href="/codeFormatter/" role="button">Go Back</a>
        </div>
    </main>
</body>
</html>
