<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Format Code</title>
    <link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body class="custom-body">
<main layout:fragment="content">
    <div class="container my-4">
        <h1>Insert New Code</h1>
        <form class="mb-4" method="post" action="/codeFormatter/Home" th:object="${code}">
            <div class="mb-3">
                <input th:field="*{id}" type="text" class="form-control" placeholder="Insert ID here" />
            </div>
            <div class="mb-3">
                <label for="codeTextarea" class="form-label">Source Code:</label>
                <textarea class="form-control" id="codeTextarea" th:field="*{code}" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Format</button>
        </form>
    </div>

        <div th:if="${original != null}">
            <div class="table-container">
                <table class="table table-light">
                    <span class="badge rounded-pill text-bg-success">Code Formatted Successfully</span>
                    <br><br>
                    <thead>
                    <tr>
                        <th>Original</th>
                        <th>Formatted</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><pre th:text="${original}"></pre></td>
                        <td><pre th:text="${formatted}"></pre></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="container my-4">
            <form method="post" action="/codeFormatter/saveCode" th:object="${formatted}">
                <input th:field="*{id}" type="hidden"/>
                <input th:field="*{code}" type="hidden"/>
                <div class="mb-3">
                    <label for="duration" class="form-label">Duration:</label>
                    <input name="duration" type="number" step="1" required class="form-control" id="duration"/>
                </div>
                <div class="mb-3">
                    <label for="unit" class="form-label">Unit:</label>
                    <select class="form-select form-select-sm" id="unit" name="unit" aria-label="Select unit">
                        <option selected>Select unit</option>
                        <option value="seconds">seconds</option>
                        <option value="minutes">minutes</option>
                        <option value="hours">hours</option>
                        <option value="days">days</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Save this code</button>
            </form>
        </div>
        </div>
</main>
</body>
</html>
