<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Credits</title>
    <link rel="stylesheet" type="text/css" href="layout.css">
</head>
<!--<body class="custom-body">-->
<body class="bg-info-subtle text-info-emphasis text-center">
<main layout:fragment="content">
    <h1>Credits</h1>
        <br>
        <h3>Development</h3>
        <p>Piotr Dancewicz</p>
        <br>
        <h3>Design</h3>
        <p>Piotr Dancewicz</p>
        <br>
        <h3>S Number</h3>
        <p>s28113</p>
<a class="btn btn-primary" href="/codeFormatter/" role="button">Go Back</a>
</main>
</body>
</html>
