<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Documentation</title>
    <link rel="stylesheet" type="text/css" href="layout.css">
</head>
<!--<body class="custom-body">-->
<body class="bg-info-subtle text-info-emphasis text-center">
<main layout:fragment="content">
    <h1>Documentation</h1>
<img class="documentation" src="../static/images/Documentation/Docs-01.png" th:src="@{/images/Documentation/Docs-01.png}">
<img class="documentation" src="../static/images/Documentation/Docs-02.png" th:src="@{/images/Documentation/Docs-02.png}">
<img class="documentation" src="../static/images/Documentation/Docs-03.png" th:src="@{/images/Documentation/Docs-03.png}">
<img class="documentation" src="../static/images/Documentation/Docs-04.png" th:src="@{/images/Documentation/Docs-04.png}">
<img class="documentation" src="../static/images/Documentation/Docs-05.png" th:src="@{/images/Documentation/Docs-05.png}">
<img class="documentation" src="../static/images/Documentation/Docs-06.png" th:src="@{/images/Documentation/Docs-06.png}">
<img class="documentation" src="../static/images/Documentation/Docs-07.png" th:src="@{/images/Documentation/Docs-07.png}">
<img class="documentation" src="../static/images/Documentation/Docs-08.png" th:src="@{/images/Documentation/Docs-08.png}">
<img class="documentation" src="../static/images/Documentation/Docs-09.png" th:src="@{/images/Documentation/Docs-09.png}">
<img class="documentation" src="../static/images/Documentation/Docs-10.png" th:src="@{/images/Documentation/Docs-10.png}">
<img class="documentation" src="../static/images/Documentation/Docs-11.png" th:src="@{/images/Documentation/Docs-11.png}">
<img class="documentation" src="../static/images/Documentation/Docs-12.png" th:src="@{/images/Documentation/Docs-12.png}">
<img class="documentation" src="../static/images/Documentation/Docs-13.png" th:src="@{/images/Documentation/Docs-13.png}">
<img class="documentation" src="../static/images/Documentation/Docs-14.png" th:src="@{/images/Documentation/Docs-14.png}">
<br><br>
<a class="btn btn-primary" href="/codeFormatter/" role="button">Go Back</a>
</main>
</body>
</html>