<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Invalid ID</title>
    <link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body class="custom-body">
    <main layout:fragment="content">
        <span class="badge rounded-pill text-bg-danger">Error Page</span>
        <h1>Invalid ID</h1>
<!--        <p>A code with this ID already exists.</p>-->
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Error!</strong> Code with this ID already exists
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <a class="btn btn-primary" href="/codeFormatter/Home" role="button">Go Back</a>
<!--        <a class="custom-button" href="/codeFormatter/newCode">Go back</a>-->
    </main>
</body>
</html>