<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Invalid ID</title>
    <link rel="stylesheet" type="text/css" href="layout.css">
</head>
<!--<body class="custom-body">-->
<body class="bg-info-subtle text-info-emphasis text-center">
    <main layout:fragment="content">
        <span class="badge rounded-pill text-bg-danger">Error Page</span>
        <h1>Invalid ID</h1>
<!--        <p>A code with this ID already exists.</p>-->
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Error!</strong> Code with this ID already exists
        </div>
        <a class="btn btn-primary" href="/codeFormatter/" role="button">Go Back</a>
    </main>
</body>
</html>