body {
    background-color: lightcyan;
    text-align: center;
}

a {
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
}