.logo{
    height: 10vh;
}

.footer {
    position: relative;

}

.code{
    margin: auto;
    width: 50%;
    text-align: left;
}

.table-light{
    text-align: left;
}

.table-container{
    margin: auto;
    width: 90%;
}

.container{
    width: 50%;
    margin: auto;
    text-align: center;
}

.documentation{
    width: 50%;
}

/*.custom-body{*/
/*    background-color: lightblue;*/
/*    text-align: center;*/
/*}*/
