<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Code</title>
    <link rel="stylesheet" type="text/css" href="codeFormatter.css">
</head>
<body>
<h1>Enter Code</h1>
<form method="post" action="/newCode" th:object="${code}">
    <label>
        ID:
        <input th:field="*{id}"/>
    </label>
    <br><br>
    <label>
        Code:
        <textarea th:field="*{code}" rows="10" cols="50"></textarea>
    </label>
    <br><br>
    <button type="submit">Format</button>
</form>

<table th:if="${original != null}">
    <thead>
    <tr>
        <th>Original</th>
        <th>Formatted</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><pre th:text="${original}"></pre></td>
        <td><pre th:text="${formatted}"></pre></td>
    </tr>
    </tbody>
</table>
<form th:if="${original != null}" method="post" action="/saveCode" th:object="${formatted}">
    <input th:field="*{id}" type="hidden" />
    <input th:field="*{code}" type="hidden" />
    <label>Duration:</label>
    <input name="duration" type="number" step="1" required />
    <select id="unit" name="unit" required>
        <option value="seconds">Seconds</option>
        <option value="minutes">Minutes</option>
        <option value="hours">Hours</option>
        <option value="days">Days</option>
    </select>
    <br><br>
    <input type="submit" value="Save this code">
</form>
</body>
</html>
